<div id="page-content" style="min-height: 1534px;">
  <!-- Courses Header -->
  <div class="content-header">
    <div class="header-section">
      <h1>
        <i class="gi gi-book_open"></i>Welcome to <strong>e-Learning</strong><br><small>Courses Hub!</small>
      </h1>
    </div>
  </div>
  <ul class="breadcrumb breadcrumb-top">
    <li>Pages</li>
    <li>e-Learning</li>
    <li><a href="">Courses</a></li>
  </ul>
  <!-- END Courses Header -->
  <!-- Main Row -->
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <%= render partial: "course" %>
      </div>
    </div>
  </div>
  <!-- END Main Row -->
</div>
