<% provide(:title, t("subject.index.title")) %>
<div id="page-content">
  <ul class="breadcrumb breadcrumb-top">
    <li>Tables</li>
    <li><a href="">Datatables</a></li>
  </ul>
  <div class="block full">
    <div class="block-title">
        <h1><%= t"subject.index.title" %>
        |  <%= link_to "Create subject", new_subject_path, class: "" %></h1>
    </div>
    <div class="table-responsive">
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
            <thead>
                <tr>
                  <th class="text-center">ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
              <%= render @subjects %>
            </tbody>
          </table>
      </div>
  </div>
</div>

